# Python cache
_pycache__
*.py[cod]

# IntelliJ/Jupyter
.idea
.ipynb_checkpoints

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

bin/
data/
experiments_results/
logs/
models/